<%- include('../partials/header') %>



<form id="add-performer-form" action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="text" name="price">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>